{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "printWidth": 80,
    "useTabs": false,
    "tailwindStylesheet": "./src/styles/main.css",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}