<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Flex CSS</title>
    <link rel="stylesheet" href="../css/tests.[DATE_HASH].css" />
  </head>
  <body>
    <header class="header">
      <h1>Flex Layout Example</h1>
    </header>

    <main class="flex-container">
      <div class="item">1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
    </main>

    <br />
    <main class="flex-2">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
    </main>

    <i class="devicon-alpinejs-original-wordmark colored"></i>
  </body>
</html>
