<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Grid CSS</title>
    <link rel="stylesheet" href="../css/tests.[DATE_HASH].css" />
  </head>
  <body>
    <header class="header">
      <h1>Grid Layout Example</h1>
    </header>

    <main class="grid-container">
      <div class="item">
        <h2>Item 1</h2>
        <p>
          This is the first item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 2</h2>
        <p>
          This is the second item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 3</h2>
        <p>
          This is the third item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 4</h2>
        <p>
          This is the fourth item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 5</h2>
        <p>
          This is the fifth item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 6</h2>
        <p>
          This is the sixth item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 7</h2>
        <p>
          This is the seventh item in the grid layout. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Autem ex laboriosam, alias
          laudantium ullam culpa ducimus iure aspernatur. Vero placeat ea
          architecto corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 8</h2>
        <p>
          This is the eighth item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
      <div class="item">
        <h2>Item 9</h2>
        <p>
          This is the ninth item in the grid layout. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Autem ex laboriosam, alias laudantium
          ullam culpa ducimus iure aspernatur. Vero placeat ea architecto
          corporis eveniet rerum perferendis minima dolores iure id!
        </p>
      </div>
    </main>

    <br />

    <main class="grid-2">
      <div class="item">
        <h2>Item 1</h2>
      </div>
      <div class="item">
        <h2>Item 2</h2>
      </div>
      <div class="item">
        <h2>Item 3</h2>
      </div>
      <div class="item">
        <h2>Item 4</h2>
      </div>
      <div class="item">
        <h2>Item 5</h2>
      </div>
      <div class="item">
        <h2>Item 6</h2>
      </div>
      <div class="item">
        <h2>Item 7</h2>
      </div>
      <div class="item">
        <h2>Item 8</h2>
      </div>
      <div class="item">
        <h2>Item 9</h2>
      </div>
    </main>

    <br />
    <div class="grid-3">
      <div class="item1">1</div>
      <div class="item2">2</div>
      <div class="item3">3</div>
      <div class="item4">4</div>
      <div class="item5">5</div>
      <div class="item6">6</div>
      <div class="item7">7</div>
      <div class="item8">8</div>
    </div>

    <footer class="footer">
      <p>&copy; 2025 Example Grid Layout</p>
    </footer>
  </body>
</html>
