<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Grid CSS</title>
    <link rel="stylesheet" href="../css/test.[DATE_HASH].css" />
  </head>
  <body>
    <header class="header">
      <h1>Grid Layout Example</h1>
    </header>

    <main class="grid">
      <div class="item-grid">Item 1</div>
      <div class="item-grid">Item 2</div>
      <div class="item-grid">Item 3</div>
      <div class="item-grid">Item 4</div>
      <div class="item-grid">Item 5</div>
      <div class="item-grid">Item 6</div>
    </main>

    <footer class="footer">
      <p>&copy; 2025 Example Grid Layout</p>
    </footer>
  </body>
</html>
